# Ignore everything by default
*

# Allow necessary files
!dist/**/*
!package.json
!package-lock.json
!README.md
!LICENSE

# Allow node_modules only for production dependencies
node_modules/**
!node_modules/vscode
!node_modules/some-needed-package
